TARGET_URL=https://exemple.com/votre-lien-ici
# Mettez le numéro de page (ex: 1) OU écrivez "ALL" pour tout télécharger
START_PAGE=1
# Mettez le numéro de page (ex: 10) OU écrivez "ALL" pour tout télécharger
END_PAGE=10
